
<header class="three rellax" data-rellax-speed="-4" style="background-image: url('./assets/images/backgrounds/avengers-background.jpg');">
    <div class="dark_opo">
        <h1>Avengers</h1>
        <h3>Infinity War</h3>

        <div class="link_social">
            <a href="" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="mailto: " ><i class="fa-solid fa-envelope"></i></a>
        </div>
    </div>
</header>

<div class="contenu">
    <div class="box_articles">
        <div class="article">
            <h1>Avengers 1</h1>
            <div style="background-image: url('./assets/images/backgrounds/avengers-background.jpg');"><a href=""></a></div>
        </div>

        <div class="article">
            <h1>Avengers 2</h1>
            <div style="background-image: url('./assets/images/backgrounds/avengers-background.jpg');"><a href=""></a></div>
        </div>

        <div class="article">
            <h1>Avengers 4</h1>
            <div style="background-image: url('./assets/images/backgrounds/avengers-background.jpg');"><a href=""></a></div>
        </div>
    </div>
</div>



<script type="text/javascript" src="./assets/js/scrolls_animation.js"></script>
<script type="text/javascript">
    // BIBLIOTHEQUE AOS ANIMATION SCROLL
    AOS.init({
        duration: 600,
        delay: 100,
    });

    // BIBLIOTHEQUE JQUERY
    $(function () {
         
    })

    // BIBLIOTHEQUE RELLAX
    var rellax = new Rellax('.rellax');
    
</script>